#header {
  align-items: center;
  background-color: #8dd7cf;
  display: flex;
  padding: 20px 40px;
  max-height: 60px;
  width: 100%;
}

.search_bar {
  margin-left: auto;
}

.search_bar input {
  border: 2px solid rgb(180, 180, 180);
  border-radius: 5px;
  height: 40px;
  outline: none;
  width: 400px;
  font-size: 20px;
  text-indent: 10px;
}

.icons {
  margin-left: auto;
}